body {
  width: 100vw;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-weight: lighter; }

.page-background {
  background-image: url(/img/background.jpg);
  background-size: cover;
  background-position: center center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

.content {
  width: 100vw;
  height: 100vh;
  position: relative; }
  .content p {
    margin: 3px 0; }
  .content .clock-welcome {
    text-transform: uppercase;
    font-size: 3vh; }
  .content .clock {
    font-size: 10vh;
    letter-spacing: 5px;
    text-transform: uppercase; }
  .content .date {
    font-size: 2vh;
    text-transform: uppercase; }
  .content .verse {
    text-shadow: 0 0 20px #424242;
    font-size: 1.3em; }
  .content .verse-ref {
    text-shadow: 0 0 20px #424242;
    text-align: right;
    padding-right: 0;
    margin-top: 20px; }
  .content .middle-top {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    transform: translate(0, -50%);
    color: white;
    text-shadow: 0 0 20px #424242;
    top: 25vh; }
  .content .middle-bottom {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    transform: translate(0, -50%);
    color: white;
    text-shadow: 0 0 20px #424242;
    top: 75vh; }

